* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
}

.flex-container {
    display: flex;

    width: 100vw;
    height: 100vh;
    padding: 8rem;
    border: 2px solid #222f3e;
    margin: 0;

    background-color: #111111;
}

.flex-item {
    width: 100rem;
    height: 40rem;
    padding: 2rem;
    border: 1px solid white;
    margin: 2rem;

    background-color: #222f3e;
}